
body{
    background:url(bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}

.page{
    display: flex;
    flex-direction: row;
}

.section1{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
}

.logo{
    width: 25%;
}


.mock{

    width: 600px;
}

.instagram,.facebook{

    width: 30px;
}

.footer{
    margin-top: 100px;
    margin-left: 80%;
    display: flex;
    gap: 10px;
}

.section2{
    font-family: poppins;
    padding: 100px;
    margin-top: 100px;
}

.build{
    font-size: xx-large;
    text-align: center;
}

button{
    border-radius: 20px;
    width:150px;
    height: 40px;
    background-color: hsl(300, 69%, 71%);
    color: white;
    border: none;
    margin-top: 10px;
}

.register:hover{
    box-shadow: 5px 5px 10px 1px hsl(257, 47%, 35%);
    cursor: pointer;
}

@media  (max-width:500px) {
    .page{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .section2{
        margin-top: -50px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    .mock{
        width: 100%;
    }
    .footer{
        margin-left: 150px;
    }

    
}

